* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
    color: white;
}

h1 {
    margin-top: 1em;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 2em;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

}

label, button {
    margin-top: 1.5em;
}

#submit {
    background-color: white;
    height: 3em;
    font-size: large;
    color: teal;
}

#submit:hover {
    background-color: teal;
    height: 3em;
    font-size: large;
    color: white;
}

#printedResult {
    font-size: large;
    text-align: center;
}

input {
    font-size: large;
}

input:invalid {
    border: 2px solid lightsalmon;
  }
  
  input:valid {
    border: 2px solid black;
  }