* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: teal;
    color: white;
    display: grid;
    justify-content: center;
    align-self: start;
    /* width: auto; */
    min-width: 300px;
    max-width: 100%;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}

header {
    font-size: 1rem;
}

form {
    margin-top: 1rem;
    width: 100%;

}

label, button {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;

}

input:focus,
button:focus {
    outline: none;
}

button {
    background-color: white;
    height: 3rem;
    color: teal;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

button:hover {
    background-color: teal;
    height: 3rem;
    color: white;
    font-size: large;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

#printedResult {
    margin: 1rem;
    text-align: center;
    font-size: 2rem;

}

input {
    display: block;
    height: 2rem;
    width: 100%;
    border: black;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.5rem;

}

input:invalid {
    border: 2px solid lightsalmon;
}
  
input:valid {
    border: 2px solid black;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    font-size: medium;

}

a {
    color: white;
    text-decoration: none;
}